<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('assets/img/ranking.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Agora eu 'se' consagro.
          <br/>Agueeeenta coração!</h1>
      </div>
    </div>
  </div>

  <div class="section section-about-us">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Ganhar é bom, mas ganhar da Argentina é mais gostoso!</h2>
        <h5 class="description">Olha o ranking ai... Quê que eu vou dizer lá em casa?</h5>
      </div>
    </div>
  </div>

  <div class="section">
    <ng-container *ngIf="!resultados">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">
            <i class="now-ui-icons loader_refresh spin"></i>
          </h2>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="resultados">
      <div class="row col-sm-10 ml-auto mr-auto no-space-sm" style="padding-top: 1em; padding-bottom: 1em">
        <ng-container *ngFor="let resultado of resultados; let index = index">
          <div class="col-md-12 ml-auto mr-auto text-center ranking-first-place" *ngIf="index == 0">
            <div class="img-container">
              <img [src]="getImagemUsuario(resultado.usuario.email)" onError="this.src='./assets/img/maradona.jpg';" />
              <div class="ranking-score">{{ resultado.pontos }}</div>
              <a routerLink="/auditoria" [queryParams]="{'email': resultado.usuario.email}">
                <div class="ranking-name">{{ strToArray(resultado.usuario.nome)[0] }}
                  <br/>{{ strToArray(resultado.usuario.nome)[strToArray(resultado.usuario.nome).length - 1] }}</div>
              </a>
            </div>
          </div>

          <div class="col-md-3 col-1180-4 col-910-6 col-635-12 ml-auto mr-auto text-center ranking-others" *ngIf="index > 0 && index < resultados.length - 4">
            <div class="img-container">
              <img [src]="getImagemUsuario(resultado.usuario.email)" onError="this.src='./assets/img/maradona.jpg';" />
              <div class="ranking-score">{{ resultado.pontos }}</div>
              <a routerLink="/auditoria" [queryParams]="{'email': resultado.usuario.email}">
                <div class="ranking-name">{{ strToArray(resultado.usuario.nome)[0] }}
                  <br/>{{ strToArray(resultado.usuario.nome)[strToArray(resultado.usuario.nome).length - 1] }}</div>
              </a>
            </div>
          </div>

          <div class="col-md-3 col-1180-4 col-910-6 col-635-12 ml-auto mr-auto text-center ranking-last-places" *ngIf="index >= resultados.length - 4">
            <div class="img-container">
              <img [src]="getImagemUsuario(resultado.usuario.email)" onError="this.src='./assets/img/maradona.jpg';" />
              <div class="ranking-score">{{ resultado.pontos }}</div>
              <a routerLink="/auditoria" [queryParams]="{'email': resultado.usuario.email}">
                <div class="ranking-name">{{ strToArray(resultado.usuario.nome)[0] }}
                  <br/>{{ strToArray(resultado.usuario.nome)[strToArray(resultado.usuario.nome).length - 1] }}</div>
              </a>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>