.section {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.visible-xs {
  display: none;
}

.transparent {
  background-color: transparent !important;
}

.ranking-first-place {
  margin-bottom: 55px;
  height: 360px;
}

.ranking-others,
.ranking-last-places {
  margin-bottom: 35px;
  height: 290px;
}

.ranking-last-places {
  background-image: url('../../../assets/img/bottom-frame-full-last.png');
  margin-bottom: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 290px;
  height: 290px;
}

.img-container {
  width: 200px;
  height: 200px;
  padding: 7px;
  position: relative;
  margin: auto;
}

.img-container img {
  width: 100%;
  border-radius: 1px;
  position: relative;
  z-index: 1;
}

.ranking-first-place .img-container {
  width: 250px;
  height: 100%;
  padding: 7px;
  box-shadow: #be9728 0px 5px 50px;
}

.ranking-score, .ranking-name {
  color: #4c4c4c;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.ranking-score {
  width: 40%;
  margin-left: 35px;
  z-index: 2;
  margin-top: -39px;
  font-size: 20px;
}

.ranking-first-place .ranking-score {
  margin-left: 45px;
  z-index: 2;
  margin-top: -47px;
}

.ranking-name {
  margin-top: 30px;
  z-index: 4;
  font-size: 22px;
}

.ranking-first-place .ranking-name {
  font-size: 25px;
  margin-top: 35px;
}

.ranking-first-place:after {
  background-image: url('../../../assets/img/bottom-frame-full-first.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 251px 360px;
  content: ' ';
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.ranking-others:after,
.ranking-last-places:after {
  background-image: url('../../../assets/img/bottom-frame-full.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 200px 290px;
  content: ' ';
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.ranking-last-places:after {
  background-image: url('../../../assets/img/bottom-frame-full-last.png');
}

@media (max-width: 1124px) {
  h5 {
    font-size: 2vw;
  }
}

@media (max-width: 600px) {
  .section {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

@media (max-width: 575px) {
  h5 {
    font-size: 5vw;
    margin-bottom: 10px;
  }

  .hidden-xs {
    display: none;
  }

  .visible-xs {
    display: block;
  }

  .ranking-first-place {
    margin-bottom: 35px;
    height: 290px;
  }
  
  .ranking-first-place .img-container {
    width: 200px;
    height: 200px;
    padding: 7px;
  }

  .ranking-first-place .ranking-score {
    margin-left: 35px;
    margin-top: -39px;
  }

  .ranking-first-place .ranking-name {
    margin-top: 30px;
    font-size: 22px;
  }

  .ranking-first-place:after {
    background-size: 200px 290px;
    height: 290px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 11vw;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 8vw;
  }
}

@media (max-width: 1180px) {
  .col-1180-4 {
    max-width: 33.333333%;
  }
}

@media (max-width: 910px) {
  .col-910-6 {
    max-width: 50%;
  }
}

@media (max-width: 635px) {
  .col-635-12 {
    max-width: 100%;
  }
}
