<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('assets/img/resultados.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Ripa na chulipa e 
          <br/>pimba na gorduchinha!</h1>
      </div>
    </div>
  </div>

  <div class="section section-about-us">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Agora é fechar o caixão e beijar a viúva.</h2>
        <h5 class="description">Confira os jogos já realizados e veja se você mandou bem.</h5>
      </div>
    </div>
  </div>

  <div class="section">
    <ng-container *ngIf="!resultados || !equipes">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">
            <i class="now-ui-icons loader_refresh spin"></i>
          </h2>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="resultados && equipes">
      <ng-container *ngFor="let resultado of resultados">
        <ng-container *ngIf="resultado.result.goalsHomeTeam !== null && resultado.result.goalsAwayTeam !== null">
          <form class="form">
            <div class="row col-sm-10 ml-auto mr-auto no-space-sm" *ngIf="resultado.homeTeamName" style="padding-top: 1em; padding-bottom: 1em">
              <div class="col-xs-line col-xs-left col-sm-0-5 col-md-1 ml-auto mr-auto">
                <img [src]="getImagemEquipe(resultado._links.homeTeam.href)">
              </div>

              <div class="col-xs-line col-xs-right col-sm-2 ml-auto mr-auto text-center">
                <h5>{{ traduzirNomeEquipe(resultado.homeTeamName) }}</h5>
              </div>
              <div class="col-sm-3 col-md-2 ml-auto mr-auto">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="far fa-futbol transparent" [ngStyle]="{'color':getVisualizacaoVencedor(resultado.result.goalsHomeTeam,resultado.result.goalsAwayTeam)}"></i>
                  </span>
                  <input type="string" disabled class="form-control transparent" [value]="resultado.result.goalsHomeTeam">
                </div>
              </div>

              <div class="col-sm-0-5 col-md-1 ml-auto mr-auto text-center">
                <h5>x</h5>
              </div>

              <div class="col-sm-3 col-md-2 ml-auto mr-auto">
                <div class="input-group">
                  <input class="form-control transparent" disabled type="text" [value]="resultado.result.goalsAwayTeam">
                  <span class="input-group-addon">
                    <i class="far fa-futbol transparent" [ngStyle]="{'color':getVisualizacaoVencedor(resultado.result.goalsAwayTeam,resultado.result.goalsHomeTeam)}"></i>
                  </span>
                </div>
              </div>

              <div class="col-xs-line col-xs-left ml-auto mr-auto visible-xs">
                <img [src]="getImagemEquipe(resultado._links.awayTeam.href)">
              </div>
    
              <div class="col-xs-line col-xs-right col-sm-2 ml-auto mr-auto text-center">
                <h5> {{ traduzirNomeEquipe(resultado.awayTeamName) }} </h5>
              </div>
    
              <div class="col-sm-0-5 col-md-1 ml-auto mr-auto hidden-xs">
                <img [src]="getImagemEquipe(resultado._links.awayTeam.href)">
              </div>
            </div>
          </form>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>