<div class="wrapper">
  <div class="page-header page-header-small">
    <div class="page-header-image" data-parallax="true" style="background-image: url('assets/img/palpites.jpg');">
    </div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">Deixe o seu palpite<br/>e corra pro abraço!</h1>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Como palpitar?</h2>
        <h5 class="description">Se vira, parça!</h5>
      </div>
    </div>
  </div>
</div>