<div class="main-content">

  <section id="reserve">
    <div class="container">
      <div class="row wow fadeInDown" data-wow-delay="0.3s">
        <div class="col-md-8 col-sm-7 reserve-form">
          <form role="form" id="reserveForm" data-toggle="validator" [formGroup]="formularioReserva">
            <div class="title-header">
              <h3 class="title-medium pull-left">Reserve seu álbum</h3>
            </div>
            <div class="row">

              <div class="col-md-6">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['cpf'].value.length >= 1}">
                  <span class="span"></span>
                  <label class="label transition">CPF</label>
                  <input type="text" class="input" [textMask]="{mask: mascaras.cpf}" id="cpf" required data-error="Informe seu CPF" formControlName="cpf"
                    [class.invalid]="formularioReserva.controls['cpf'].touched && !formularioReserva.controls['cpf'].valid">
                </div>
              </div>

              <div class="col-md-6">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['nome'].value.length >= 1}">
                  <span class="span"></span>
                  <label class="label transition">Nome</label>
                  <input type="text" class="input" id="nome" required data-error="Informe seu nome" formControlName="nome" [class.invalid]="formularioReserva.controls['nome'].touched && !formularioReserva.controls['nome'].valid">
                </div>
              </div>

              <div class="col-md-6">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['email'].value.length >= 1}">
                  <span class="span"></span>
                  <label class="label transition">E-mail</label>
                  <input type="email" class="input" id="email" required data-error="Informe seu e-mail" formControlName="email" [class.invalid]="formularioReserva.controls['email'].touched && !formularioReserva.controls['email'].valid">
                </div>
              </div>

              <div class="col-md-2">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['ddd'].value.length >= 1}">
                  <span class="span"></span>
                  <label class="label transition">DDD</label>
                  <input type="text" class="input" [textMask]="{mask: mascaras.ddd}" id="ddd" required data-error="Informe seu DDD" formControlName="ddd" [class.invalid]="formularioReserva.controls['ddd'].touched && !formularioReserva.controls['ddd'].valid">
                </div>
              </div>

              <div class="col-md-4">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['telefone'].value.length >= 1}">
                  <span class="span"></span>
                  <label class="label transition">Telefone</label>
                  <input type="text" class="input" [textMask]="{mask: mascaras.telefone}" id="telefone" required data-error="Informe seu telefone" formControlName="telefone" [class.invalid]="formularioReserva.controls['telefone'].touched && !formularioReserva.controls['telefone'].valid">
                </div>
              </div>

              <div class="col-md-9">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['rua'].value.length >= 1}">
                  <span class="span"></span>
                  <label ngClass="label transition">Rua</label>
                  <input type="text" class="input" id="rua" required data-error="Informe sua rua" formControlName="rua" [class.invalid]="formularioReserva.controls['rua'].touched && !formularioReserva.controls['rua'].valid">
                </div>
              </div>

              <div class="col-md-3">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['ncasa'].value >= 1}">
                  <span class="span"></span>
                  <label class="label transition">Número</label>
                  <input type="text" class="input" id="ncasa" required data-error="Informe o número de sua casa" formControlName="ncasa" [class.invalid]="formularioReserva.controls['ncasa'].touched && !formularioReserva.controls['ncasa'].valid">
                </div>
              </div>

              <div class="col-md-6">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['cidade'].value.length >= 1}">
                  <span class="span"></span>
                  <label class="label transition">Cidade</label>
                  <input type="text" class="input" id="cidade" required data-error="Informe sua cidade" formControlName="cidade" [class.invalid]="formularioReserva.controls['cidade'].touched && !formularioReserva.controls['cidade'].valid">
                </div>
              </div>

              <div class="col-md-2">
                <div class="label-line" [ngClass]="{'active checked' : formularioReserva.controls['estado'].value.length >= 1}">
                  <span class="span"></span>
                  <label class="label transition">Estado</label>
                  <input type="text" class="input" [textMask]="{mask: mascaras.estado}" id="estado" required data-error="Informe seu estado" formControlName="estado" [class.invalid]="formularioReserva.controls['estado'].touched && !formularioReserva.controls['estado'].valid">
                </div>
              </div>

              <div class="col-md-4">
                <button type="submit" id="form-submit" class="btn btn-common center-block" (click)="reservar()">Reservar
                </button>
                <div id="msgSubmit" class="h3 text-center hidden"></div>
                <div class="clearfix"></div>
              </div>

            </div>
          </form>
        </div>

        <div class="col-md-4 col-sm-5 information">
          <div class="reserve-datails">
            <div class="info">
              <span class="detail">Porque reservar?</span>
              <p style="color:white">Esperamos cerca de 3.000 pessoas em nosso evento, e para que todos os presentes possam participar da promoção,
                é necessário que uma reserva seja feita.</p>
            </div>

            <div class="info">
              <span class="detail">Porque preciso passar um documento?</span>
              <p style="color:white">Para que todos tenham a possibilidade de participar, a produção optou por solicitar um documento (que deverá
                ser apresentado no dia). Dessa forma entendemos que a promoção se torna democrática à todos os presentes.</p>
            </div>

            <div class="info">
              <span class="detail">O que fazer após a reserva?</span>
              <p style="color:white">Após o envio do formulário, uma reserva será realizada ao CPF indicado. Para finalizar a aquisição do álbum,
                será necessária a compra de 10 pacotes de figurinhas no dia do evento.</p>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>


  <footer class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <h3>
            <img src="assets/img/footer-logo.png" alt="">
          </h3>
          <!-- <p>
              Vem aí um evento de Copa do Mundo que vai aproximar você, de Marília e Região, da Rússia. A FanFest Marília chegará em breve
              com muitas atrações do maior evento de futebol do planeta.
            </p> -->
        </div>
      </div>
    </div>
  </footer>

</div>