<section class="countdown-timer section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
        <div class="text">
          <h2 class="text-center" style="font-size: 30px">Encontro Oficial de Colecionadores de Figurinhas</h2>
        </div>
      </div>

      <div class="col-md-5 col-sm-5 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
        <div class="text" style="margin-top: 20px; margin-bottom: 10px;">
            <h4 class="text-center">Espaço Cultural, Marília, SP.
                <br> Segunda à sexta à partir das 17h30.
                <br> Sábado e domingo das 09h às 13h.</h4>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
          <div class="text">
              <h4 class="text-center" style="color: #4682B4;">O primeiro encontro foi um sucesso! Mas "o jogo só acaba quando termina", certo?
                <br> Convide toda a sua turma e venha completar seu álbum na FanFest Marília.</h4>
          </div>
        </div>
    </div>
  </div>
</section>