<div id="carousel-area">
  <div id="carousel-slider" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <div class="item active" *ngFor="let carousel of carousel_items">
        <img [src]="carousel.link" alt="">
        <div class="carousel-caption" *ngIf="carousel.show_title">
          <h2 class="wow fadeInRight" data-wow-delay="300ms">{{ carousel.text_one }}
            <br> {{ carousel.text_two }}</h2>
          <div class="buttons wow fadeInDown" data-wow-delay="0.2s">
            <a class="btn btn-lg btn-border" [routerLink]="carousel.link_url" [fragment]="carousel.link_fragment">{{ carousel.link_text }}</a>
          </div>
          <a data-scroll>
            <div class="rev-scroll-btn wow fadeInUp" data-wow-delay="600ms">
              <span></span>
            </div>
          </a>
        </div>
      </div>

    </div>

    <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
      <span class="icon-arrow-left" aria-hidden="true"></span>
    </a>

    <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
      <span class="icon-arrow-right" aria-hidden="true"></span>
    </a>

  </div>
</div>